body {
    height:100%;
    width: 90%;
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#result {
    font-size: 110%;
}

#xirr-form {
    margin: .3em auto 3em auto;
}

#xirr-form input {
    width: 45%;
    margin-right: .2em;
    font-family: serif;
}

input[type="number"] {
    text-align: right;
}

input:invalid {
    background-color: red;
}
