body {
    height:100%;
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}

#banner {
    text-align: center;
    padding:.5em 0;
}

#banner img {
    max-width: 100%;
}

#content {
    width: 90%;
    margin: auto;
}

#output {
    display: table;
    min-height: 32px;
    width: 100%;
    margin-bottom: .5em;
}

#output>div {
    min-width: 90px;
}

#result {
    display: table-cell;
    vertical-align: bottom;
    height: 32px;
    line-height: 32px;
    font-size: 30px;
}

#message {
    display: table-cell;
    font-style: italic;
    vertical-align: bottom;
    padding-left: 2em;
    padding-right: .5em;
    padding-bottom: .4em;
}

@media (min-width: 400px) {
    #output {
        min-height: 45px;
    }
    #output>div {
        min-width: 120px;
    }
    #result {
        height: 45px;
        line-height: 45px;
        font-size: 40px;
    }
}

@media (max-width: 450px) {
    #message {
        font-size: 75%;
    }
}

@media (min-width: 700px) {
    #output {
        min-height: 70px;
    }
    #output>div {
        min-width: 210px;
    }
    #result {
        height: 70px;
        line-height: 70px;
        font-size: 63px;
    }
}

#xirr-form {
    margin: .3em auto 3em auto;
    clear: both;
}

#inputs {
    display: table;
    width: 100%;
}
#inputs>div {
    display: table-row;
}
#inputs>div>input {
    display: table-cell;
    margin-right: .2em;
    font-family: serif;
    width: 47%;
}

input[type="number"] {
    text-align: right;
}

input:invalid {
    background-color: red;
}

#buttons {
    margin: 1em 0;
    text-align: center;
}
#buttons>button {
    margin: 1em 2.5em;
    font-size: 120%;
    border-radius: .5em;
}
